<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header><% include ../partials/header %></header>
    <main>
      <div class="jumbotron">
        <h1>Products</h1>
        <div class="controls-container">
          <form action="/photos/search" method="POST" class="form-inline">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="product-name"
                placeholder="Search image"
                name="title"
              />
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
          <a href="/products/add">Add new</a>
        </div>
        <div class="products">
          <div class="product-item">
            <% products.forEach(function(item){ %>
            <div class="card">
              <img
                class="card-img-top"
                src="<%= item.image %>"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">Name: <%= item.name %></h5>
                <p class="card-text">Price: <%= item.price %></p>
                <p class="card-text">Created by: <%= item.createdBy.email %></p>
                <form action="/products/like/<%= item._id %>" method="POST">
                  <button type="submit" class="btn btn-primary">Like</button>
                  <%= item.likes.length %> likes
                </form>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </main>

    <% include ../partials/scripts.ejs %>
  </body>
</html>
